html {
	box-sizing: border-box;
  text-align: center;
  font-size: 1.75rem;
}

.day_mode {
	color: black;
	background-color: whitesmoke;
}

.night_mode {
	color: whitesmoke;
	background-color: black;
}


nav {
	display: flex;
	justify-content: space-between;
	height: 90px;
}

nav a{
	font-size: medium;
	color: black
}

.container {
	margin: 10px;
	padding: 10px
}

.flex {
	display: flex;
	align-items: center;
}

.card {
  width: 300px;
	height: 150px;
  margin: 50px auto;
  padding: 50px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .2);
  border-radius: 2vw;
  color: wheat;
  background: linear-gradient(rgb(10,10,200), rgb(50,50,200));
}

#qa {
    display: inline-block;
		margin: auto;
		color: yellow;
}



input {
	display: block;
	width: 40%;
	font-size: .7rem;
	margin: auto;
}



#submit {
	margin-top: 15px;
	width: 150px;
	height: 50px;
	border-radius: 2vw;
}


/* Dark and light modes based on system preferences (only tested on mac) */
:root {
	--background: white;
	--color: #2b2b2b;
  }

  body {
	background-color: var(--background);
	color: var(--color);
  }

  .darko {
	--background: #2b2b2b;
	--color: white;
  }

  @media (prefers-color-scheme: dark) {
	:root {
	  --background: #2b2b2b;
	  --color: white;
	}
	nav a{
		font-size: medium;
		color: white
	}
  }

  .light {
	--background: white;
	--color: #2b2b2b;
  }
/* End of dark / light mode section */
