{% extends "layout.html" %}
{% block content %}
	<main class="game">
		<h1>Flash Card</h1>
		<label for="choice">Category</label>
		<select name="category" id="choice" aria-setsize="8" action="{{url_for('index')}}" required>
			<option value="" disabled selected hidden>Choose Category</option>
			<option value="entertainment" name="entertainment" id="entertainment">Entertainment</option>
			<option value="sports" name="sports" id="sports">Sports</option>
			<option value="bible" name="bible" id="bible">Bible</option>
			<option value="history" name="history" id="history">History</option>
			<option value="math" name="math" id="math">Math</option>
			<option value="science" name="science" id="science">Science</option>
			<option value="other" name="other" id="other">Other</option>
		</select>
	</main>
	
</body>

</html>
{% endblock %}